{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/producttab.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script>
            // JavaScript code for smooth scrolling
            document.addEventListener('DOMContentLoaded', function() {
              var smoothScrollTriggers = document.querySelectorAll('a[href^="#"]');
              for (var i = 0; i < smoothScrollTriggers.length; i++) {
                smoothScrollTriggers[i].addEventListener('click', function(e) {
                  e.preventDefault();
                  var href = this.getAttribute('href');
                  var targetElement = document.getElementById(href.replace('#', ''));
                  var rect = targetElement.getBoundingClientRect();
                  var offset = window.pageYOffset;
                  var targetPosition = rect.top + offset;
                  window.scrollTo({
                    top: targetPosition,
                    behavior: 'smooth'
                  });
                });
              }
            });
          </script>
          <link rel="icon" type="image/x-icon" href="{% static 'images/tron-favicon-01.png' %}">
        <title>Tron - X</title>
    </head>
<body>

  <section>
  
        
    <nav>
        <a href="index.html"><img class="navlogo" src="{% static 'images/Tron-xlogo-01.png' %}" alt=""></a>
        <div class="navLinks" id="navLinks">
            <img src="{% static 'icons/close-menu-icon.svg' %}" alt="" class="close" onclick="hideMenu()">
            <ul>
              <li><a href="{% url 'home'  %}">Home</a></li>
                <li><a href="{% url 'about'  %}">About Us</a></li>
                <li><a href="{% url 'productlist' %}">Products</a></li>
                <li><a href="{% url 'home'  %}#whytronx">Why Tron-X</a></li>
                <li><a href="{% url 'home'  %}#founder">Founder</a></li>
                <li><a href="{% url 'teamlist' %}">Team</a></li>
                <li><a href="{% url 'home'  %}#testimonail">Testimonails</a></li>
                <li><a href="{% url 'home'  %}#contact">Contact</a></li>
          </ul> 
        </div>
        <img src="{% static 'icons/open-menu-iocn.svg' %}" alt="" class="open" onclick="openMenu()">
    </nav>

    <div class="productcara" id="product">
      <div class="carousel-container">
          <div class="carousel-slide">
              <img src="{{ product.product_image.url }}" alt="">
          </div>
          {% for media_item in product.add_product_image.all %}
              {% if media_item.p_image %}
                  <div class="carousel-slide">
                      <img src="{{ media_item.p_image.url }}" alt="">
                  </div>
              {% endif %}
          {% endfor %}
      </div>
  
      <div class="carousel-indicators">
          <div class="indicator"></div>
          {% for media_item in product.add_product_image.all %}
              {% if media_item.p_image %}
                  <div class="indicator"></div>
              {% endif %}
          {% endfor %}
      </div>
  </div>
  
  <section class="productdescription" id="product">
      <div class="prodes">
          <div class="tab-container">
              <button class="tab-btn active" data-tab="description">Description</button>
              <button class="tab-btn" data-tab="video">Video</button>
          </div>
          <div class="tab-content" id="description">
              <div class="productcontent">
                  <div class="align">
                      <p>{{ product.product_description | safe }}</p>
                  </div>
              </div>
          </div>
          <div class="tab-content" id="video">
              <div class="videoholder">
                  <iframe class="iframe" src="{{ product.product_video }}" width="400" height="300" marginwidth="50" frameborder="1" allowfullscreen></iframe>
                  {% for media_item in product.add_product_image.all %}
                      {% if media_item.p_video %}
                          <iframe class="iframe" src="{{ media_item.p_video }}" width="400" height="300" marginwidth="50" frameborder="1" allowfullscreen></iframe>
                      {% endif %}
                  {% endfor %}
              </div>
          </div>
      </div>
  </section>




<footer id="contact">
  <div class="logoholder">
    <img src="{% static 'images/Tron-xlogo-01.png' %}" alt="">
  </div>
  <!-- <div class="socialmediaholder">
    <a href=""><img src="{% static 'icons/facebook-icon.png' %}" alt="" class="socialmedia"></a>
    <a href=""><img src="{% static 'icons/instagram-icon.png' %}" alt="" class="socialmedia"></a>
    <a href=""><img src="{% static 'icons/youtube.png' %}" alt="" class="socialmedia"></a>
    <a href=""><img src="{% static 'icons/linkedin.png' %}" alt="" class="socialmedia"></a>
    <a href=""><img src="{% static 'icons/whatsapp.png' %}" alt="" class="socialmedia"></a>
  </div> -->
  <div class="fcontactholder">
    <div class="callholder">
      <img src="{% static 'icons/call-icon.png' %}" alt="">
      <a href="">+911234567890</a>
    </div>
    <div class="callholder">
      <img src="{% static 'icons/email-icon.png' %}" alt="">
      <a href="mailto:tronxtechnolgies@gmail.com">tronxtechnolgies@gmail.com</a>
    </div>
    <div class="callholder">
      <img src="{% static 'icons/whatsapp.png' %}" alt="">
      <a href="https://wa.me/91998024364">+91 9980243640</a>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2023  Tron-X . All rights reserved. Design and Developed by <a href="theonesolution.co.in">The One Solution</a></p>
  </div>
</footer>












  <script src="{% static 'js/nav.js' %}"></script>
  <script src="{% static 'js/scrollanim.js' %}"></script>
  
  <script src="{% static 'js/testimonail.js' %}"></script>
  <script src="{% static 'js/productcarousel.js' %}"></script>
  <script src="{% static 'js/producttab.js' %}"></script>
</body>
</html>
